<!DOCTYPE html>
<html lang="cs">

<head>
    {{> head }}
</head>

<body>

    {{> header }}


    <section>
        <h1>{{pageName}}!</h1>
        {{#if userNameReg}}
        <p>Your name: {{userNameReg}}</p>
        {{/if}}
        {{#if userEmailReg}}
        <p>Your email: {{userEmailReg}}</p>
        {{/if}}
        <a href="/login">Login</a>
    </section>

    {{> footer }}

</body>